spring:
  application:
    name: AllCityTransportAgency
    spring:
      servlet:
        multipart:
          enabled: true
          max-file-size: 10MB
          max-request-size: 10MB

  datasource:
    url: jdbc:postgresql://localhost:5432/transport1
    username: postgres
    password: pushpa@9798
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
secreteJwtString: dennis123456789dennis123456789dennis123456789
cors:
  allowed:
    origin: http://localhost:52997



